#wrapper .box-nav-3 .box-nav-chat {
  min-height: 68px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  background-color: var(--WA100);
  border-bottom: 1px solid var(--border);
}

#wrapper .box-nav-3 .box-nav-chat .button-phone {
  margin-right: 10px;
  cursor: pointer;
  display: none;
  align-items: center;
}

#wrapper .box-nav-3 .box-nav-chat .button-phone .anticon svg {
  width: 20px;
  height: 20px;
}

#wrapper .box-nav-3 .box-nav-chat .image {
  width: 58px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 {
  overflow: hidden;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 .title {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-text);
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  height: 28px;
  text-overflow: ellipsis;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 .status {
  align-items: center;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 .status .brick {
  background: var(--border);
  height: 12px;
  width: 1px;
  min-width: 1px;
  margin: 0 8px;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 .status .status-2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrapper .box-nav-3 .box-nav-chat .box-1 .box-1-1 .status .anticon svg {
  width: 18px;
  height: 18px;
  color: var(--NG60);
}

#wrapper .box-nav-3 .box-nav-chat .box-2 .icon-title div {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-right: 4px;
}
#wrapper .box-nav-3 .box-nav-chat .box-2 .icon-title div:hover {
  background: var(--item-wa-hover);
  cursor: pointer;
}

#wrapper .box-nav-3 .box-nav-chat .box-2 .icon-title div .anticon svg {
  width: 20px;
  height: 20px;
  color: var(--N100);
}
