.box-ghim .box-1 .image img {
  width: 100%;
}
.image-box .border-right {
  width: 2px;
  min-width: 2px;
  background-color: var(--B60);
  margin-right: 8px;
  height: 40px;
}
#wrapper .box-nav-3 .box-ghim .image-message {
  width: 24px;
  height: 48px;
  margin-left: 16px;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

#wrapper .box-nav-3 .box-ghim .box-1 .image-box {
  max-width: 29px;
  margin-left: 9px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

#wrapper .box-nav-3 .box-ghim .box-1 .image-box {
  video,
  img {
    width: 100%;
    height: 70%;
    object-fit: scale-down;
  }
}

#wrapper .box-nav-3 .box-ghim {
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

#wrapper .box-nav-3 .box-ghim .box-1 .anticon svg {
  width: 24px;
  height: 24px;
  color: var(--B60);
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 {
  overflow: hidden;
  align-self: center;
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 .title {
  line-height: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: normal;
  color: var(--primary-text);
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 .content {
  line-height: normal;
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 .status .content {
  color: var(--secondary-text);
}

#wrapper .box-nav-3 .box-ghim .box-2 {
  margin-right: 25px;
  min-width: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box-ghim-2 .box-ghim .delete-ghim {
  margin-right: 25px;
}

.box-ghim .delete-ghim {
  width: 18px;
  height: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--icon-hover-bg);
  .anticon svg {
    font-weight: 400;
    color: var(--icon-hover-bg);
    width: 12px;
    height: 12px;
  }
}

.box-ghim .delete-ghim:hover {
  border: 2px solid var(--B60);
  .anticon svg {
    color: var(--B60);
  }
}

#wrapper .box-nav-3 .box-ghim .box-2 .ghim {
  margin-left: 12px;
  color: var(--B60);
  height: 24px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  border: 1px solid var(--B60);
  border-radius: 6px;
  cursor: pointer;
}

#wrapper .box-nav-3 .box-ghim .box-2 .ghim:hover {
  background-color: var(--B10);
}

#wrapper .box-nav-3 .box-ghim-2 {
  display: none;
}

#wrapper .box-nav-3 .box-ghim-2 .box-ghim:hover {
  background-color: var(--lst-item-hover);
}

#wrapper .box-nav-3 .box-ghim-2 .list-ghim {
  justify-content: space-between;
  align-items: center;
  background-color: var(--NG20);
  box-shadow: 0 1px var(--border);
  min-height: 24px;
}

#wrapper .box-nav-3 .box-ghim-2 .list-ghim .list {
  line-height: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: normal;
  padding-left: 12px;
  color: var(--NG60);
}
