.answer-input-box {
  margin: 12px 15px 0;
  background-color: var(--NG10);
  border: none;
  padding: 12px;
  min-width: 150px;
  border-radius: 6px;
  position: relative;
  margin-bottom: 5px;
}

.answer-input-box:hover {
  background-color: var(--lst-item-hover);
}
.answer-input-box .border-right {
  width: 2px;
  min-width: 2px;
  background-color: var(--B60);
  margin-right: 8px;
  height: 40px;
}
.answer-input-box .answer-image {
  min-width: 36px;
  height: 36px;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.answer-input-box .answer-image img,
.answer-input-box .answer-image video {
  height: 36px;
}

.answer-input-box .answer-content {
  overflow: hidden;
}
.answer-input-box .answer-content .answer {
  user-select: none;
}

.answer-input-box .answer-content .answer .anticon svg {
  font-size: 14px;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  color: var(--NG80);
}
.answer-input-box .answer-content .content {
  color: var(--text-quote);
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.answer-input-box .delete {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: var(--N80);
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.answer-input-box .delete:hover {
  background-color: var(--B60);
}

.answer-input-box .delete .anticon svg {
  font-weight: 400;
  color: #fff;
}

.content-chat .answer-input-box .delete {
  display: none;
}
