#wrapper .see-all-right {
  .box-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .box-filter {
    position: relative;
    .box-choose-member-sent {
      height: 24px;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 24px;
    }
    .box-list-search {
      margin-top: 5px;
      position: absolute;
      background: var(--WA100);
      padding: 8px 0px;
      border-radius: 4px;
      z-index: 9999;
      box-shadow: 0 0 10px 0 var(--BA20);
      border: 1px solid var(--border);
      max-width: 308px;
      max-height: 327px;
      .box-search {
        padding: 0px 8px;
        .InPutSearch {
          .ant-input-affix-wrapper {
            height: 24px;
            width: 100%;
            border-radius: 20px;
            background-color: #fff;
            .ant-input {
              background-color: #fff;
              input {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.5;
              }
            }
          }
        }
      }
      .box-list-member {
        overflow-y: scroll;
        overflow-x: hidden;
        .box-member {
          height: 32px;
          padding: 0px 12px;
          display: flex;
          align-items: center;
          cursor: pointer;
          color: var(--primary-text);
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          &:hover {
            background: var(--lst-item-hover);
          }
          .image-member {
            width: 24px;
            height: 24px;
            margin-right: 8px;
            border-radius: 50%;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
            }
          }
          .box-information {
            width: 240px;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-wrap: break-word;
          }
        }
        .box-member.choose {
          background-color: var(--R40);
          width: 300px;
          .box-information {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .icon {
              color: var(--B60);
            }
          }
        }
      }
    }
  }
  .box-title {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 0px 15px;
    .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      .anticon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        &:hover {
          background-color: var(--item-wa-hover);
        }
      }
      .anticon svg {
        width: 20px;
        height: 20px;
      }
    }
    .title-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 68px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: normal;
      padding: 0 15px;
      color: var(--primary-text);
      margin: auto;
    }
  }
  .box-title-choose {
    display: flex;
    margin: 0px 15px;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 46px;
      width: 104px;
      cursor: pointer;
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 1.5;
      border-bottom: 2px solid #fff;
    }
    .choose {
      border-bottom: 2px solid var(--B60);
      color: var(--B60);
    }
  }
  .box-filter {
    padding: 12px 16px;
    .box-choose-member-sent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 8px;
      max-width: 150px;
      background-color: var(--N30);
      border-radius: 20px;
      cursor: pointer;
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 24px;
    }
    .box-choosed-member-sent {
      display: flex;
      align-items: center;
      padding: 0px 8px;
      justify-content: space-between;
      max-width: 150px;
      border-radius: 20px;
      height: 24px;
      cursor: pointer;
      color: var(--B60);
      background-color: var(--R40);
      font-size: 0.8125rem;
      font-weight: 400;
      line-height: 24px;
      &:hover {
        background-color: var(--N30);
      }
      .name {
        max-width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .close {
        border-radius: 50%;
        display: flex;
        height: 13px;
        color: #fff;
        background-color: var(--B60);
      }
    }
  }
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--border);
  height: 100vh;
  z-index: 10;
  max-width: 345px;
  min-width: 345px;
}

#wrapper .see-all-right #wrapper .see-all-right .box-wrapper {
  overflow-y: scroll;
  width: 100%;
}

#wrapper .see-all-right .box-wrapper .box-element {
  width: 100%;
  .div-button {
    height: 32px;
    padding-top: 0 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    color: var(--primary-text);
    background-color: var(--N30);
    margin: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  > .title {
    height: 40px;
    padding: 0px 16px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .content-image-video {
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap !important;
    .box-date-show-all {
      border-top: 8px solid var(--N20);
      width: 100%;
      .date {
        padding-left: 16px;
        margin-top: 16px;
        margin-bottom: 10px;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.5;
        color: var(--primary-text);
      }
    }
    .box-image-video {
      width: 67px;
      height: 67px;
      .ant-image {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }
  .content-file {
    margin-top: 16px;
  }
  .content-link {
    margin-top: 16px;
  }
  .content-order-info {
    .box-search {
      margin: 12px;
      .InPutSearch {
        .inputSearch {
          border-radius: 20px;
          height: 28px;
          width: 100%;
        }
      }
    }
  }
}

#wrapper .see-all-right .box-wrapper .box-element .box-file {
  position: relative;
  border-radius: 0px;
  margin: 0px;
  .date {
    position: absolute;
    right: 0%;
    bottom: 16%;
  }
  .icon-download {
    display: none;
  }
  .img-file {
    width: 40px;
    height: 40px;
    img {
      height: 40px;
      max-width: 40px;
    }
  }
}

#wrapper .see-all-right .box-wrapper .box-element .box-file:hover {
  background-color: var(--NG10);
  .date {
    display: none;
  }
  .icon-download {
    display: flex;
  }
}

#wrapper .see-all-right .box-wrapper .box-element .date {
  .d-m-year {
    display: inline-block;
  }
}

#wrapper .see-all-right .box-wrapper .box-element .box-element-children {
  height: 48px;
  padding: 0px 16px;
  display: flex;
  text-align: center;
  div {
    display: flex;
    align-items: center;
    margin-right: 8px;
    color: var(--B60);
  }
  .anticon svg {
    height: 25px;
    width: 25px;
  }
}
#wrapper .see-all-right .box-wrapper .box-element .box-element-children:hover {
  background-color: var(--NG10);
  cursor: pointer;
}

#wrapper .see-all-right .box-wrapper .box-element .content-member {
  max-height: 192px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .box-member {
    min-height: 64px;
    height: 64px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    .image-member {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
  .add-friend {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: no-drop;
    color: var(--B60);
    height: 32px;
    border-radius: 4px;
    background-color: var(--R40);
    padding: 0px 8px;
    font-weight: 600;
    font-size: 14px;
  }
}
.box-member:hover {
  background-color: var(--NG10);
}
