.wrapper-modal-add-members-to-group {
}

.wrapper-modal-add-members-to-group .box-choose-add-members-to-group {
  border-top: 1px solid #e1e4ea;
  margin: 0px 16px;
  height: 400px;
  overflow-y: scroll;
}

.wrapper-modal-add-members-to-group .box-list-choose-add-members-to-group {
  width: 100%;

  .title-choose-add-members-to-group {
    font-weight: 600;
    font-size: 14px;
    height: 30px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .list-choose-add-members-to-group {
    .choose-add-members-to-group {
      margin-top: 8px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      height: 52px;
      width: 100%;
      padding: 0px 5px;
      border-radius: 4px;
      .box-input {
        position: relative;
        .input-checkbox-add-members-to-group {
          position: absolute;
          left: -13%;
          top: -5%;
          width: 24px;
          height: 24px;
        }
      }
      .image {
        margin-left: 8px;
        img {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          object-fit: cover;
        }
      }
      .name {
        margin-left: 8px;
        line-height: normal;
        font-weight: 400;
        font-size: 14px;
        letter-spacing: normal;
        max-width: calc(100% - 12px);
      }
    }
    .choose-add-members-to-group:hover {
      background-color: var(--lst-item-hover);
    }
  }
}

.wrapper-modal-add-members-to-group .history-choose-add-members-to-group {
  display: flex;
  margin: 0px 16px;
  padding: 12px 0px;
  border-top: 1px solid #e1e4ea;
  border-bottom: 1px solid #e1e4ea;
  margin-top: 12px;
  min-height: 76px;
  flex-wrap: wrap !important;
  .image {
    position: relative;
    margin-left: 8px;
    margin-bottom: 10px;
    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    .delete {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: var(--B60);
      display: flex;
      align-items: center;
      cursor: pointer;
      .anticon svg {
        margin-right: 4px;
        color: #fff;
      }
    }
  }
}

.wrapper-modal-add-members-to-group .InPutSearch {
  margin: 16px 16px;

  .ant-input-affix-wrapper {
    width: 100%;
    border-radius: 25px;
  }
}

.ant-modal-wrap .ant-modal-footer {
  display: block;
}

.button-confirm-add-friend:hover,
.button-confirm-add-friend:active,
.button-confirm-add-friend:focus {
  background-color: var(--B60);
}

// .ant-modal-content {
//   .ant-button {
//     border-radius: 4px;
//   }
// }

.ant-modal-content {
  // .button-cancel {
  //   border-radius: 4px;
  // }
  .button-confirm {
    border-radius: 4px;
    padding: 5px 16px;
    margin-left: 8px;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: "Fira Sans", sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(167, 58, 58);
    box-shadow: rgb(167 58 58 / 24%) 0px 8px 16px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .button-confirm.unconditional {
    -webkit-tap-highlight-color: transparent;
    cursor: no-drop;
    background-color: #f5d8d7cf;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 8px 16px 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}
