#wrapper .box-nav-2 {
  width: 344px;
  background-color: var(--WA100);
  height: 100vh;
  overflow: hidden;
  border-right: 1px solid var(--border);
}

#wrapper .box-nav-2 .overflow {
  overflow-y: scroll;
  height: calc(100vh - 96px);
  display: flex;
  flex-direction: column;
}

#wrapper .box-nav-2 .search-add {
  padding: 0px 16px;
  height: 64px;
  align-items: center;
  justify-content: space-evenly;
}

#wrapper .box-nav-2 .search-add .icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 6px;
}

#wrapper .box-nav-2 .search-add .icon:hover {
  background-color: var(--item-wa-hover);
}

#wrapper .box-nav-2 .search-add .icon .anticon svg {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: var(--primary-icon);
}

#wrapper .box-nav-2 .title-nav-2 {
  height: 32px;
  padding: 0px 16px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

#wrapper .box-nav-2 .title-nav-2 .title {
  border-bottom: 2px solid transparent;
  color: var(--tab-txt);
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: -1px;
  transition: border-color 0.2s;
  line-height: normal;
  font-weight: 600;
  font-size: 14px;
  height: 32px;
}

#wrapper .box-nav-2 .title-nav-2 .all:hover,
#wrapper .box-nav-2 .title-nav-2 .not-read:hover {
  color: var(--B60);
}

#wrapper .box-nav-2 .title-nav-2 .selected {
  color: var(--B60);
  border-bottom-color: var(--B60);
}

#wrapper .box-nav-2 .title-nav-2 .not-read {
  margin-left: 12px;
}

#wrapper .box-nav-2 .title-nav-2 .classify {
  line-height: normal;
  height: 22px;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: normal;
  color: var(--primary-text);
  border-radius: 12px;
  padding: 0 4px 0 8px;
}

#wrapper .box-nav-2 .title-nav-2 .classify:hover {
  background: var(--item-wa-hover);
}

#wrapper .box-nav-2 .title-nav-2 .dots .anticon svg {
  line-height: normal;
  width: 16px;
  height: 16px;
  letter-spacing: normal;
  color: var(--primary-text);
}

#wrapper .box-nav-2 .title-nav-2 .dots {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 22px;
  cursor: pointer;
}

#wrapper .box-nav-2 .title-nav-2 .dots:hover {
  background: var(--item-wa-hover);
  border-radius: 50%;
}
#wrapper .box-nav-2 .title-nav-2 .box-title-nav2-2 {
  align-items: center;
}

.box-nav-2 .search-add .close {
  &:hover {
    background-color: var(--item-wa-hover);
  }
  height: 32px;
  min-width: 32px;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--primary-text);
  padding: 0 8px;
  line-height: 30px;
  cursor: pointer;
  border-radius: 4px;
}
#wrapper .box-nav-2 .box-tick-message {
  cursor: pointer;
  padding: 10px 14px;
  display: flex;
  .box-image {
    .image {
      img {
        width: 32px;
        height: 32px;
        min-width: 32px;
        min-height: 32px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--WA100);
      }
    }
  }
  .box-content {
    max-width: calc(100% - 40px);
    min-width: calc(100% - 40px);
    margin-left: 8px;
    .box-name-time-icon {
      display: flex;
      justify-content: space-between;
      .name-time {
        .name {
          color: var(--text-primary);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          word-wrap: break-word;
          font-size: 0.875rem;
          font-weight: 600;
          line-height: 1.5;
          word-break: break-all;
        }
        .time {
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.5;
          color: var(--text-primary);
        }
      }
      .box-icon-start {
        display: none;
        height: fit-content;
        background-color: #fff;
        border-radius: 2px;
        .icon-start {
          margin: 0 5px;
        }
      }
    }
    .message {
    }
    .name-friend {
      color: #7589a3;
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  &:hover {
    background-color: #f3f5f6;
    .box-content .box-name-time-icon .box-icon-start {
      display: block;
    }
  }
  border-bottom: 1px solid var(--border);
}

.box-tick-message .box-link-preview {
  margin-bottom: 5px;
  .card-content .description {
    display: none;
  }
}

.box-tick-message .box-content .message .hover-image-chat {
  div {
    display: none;
  }
  img {
    max-height: 87px;
  }
}

.box-tick-message .box-content .message .box-file {
  background-color: inherit;
  max-width: 100%;
  .boxcontent-file .box-content-file-title .box-information .icon-download {
    display: none;
  }
}
