:root {
  --N10: #fbfbfd;
  --N20: #eeeff2;
  --N30: #e5e7eb;
  --N40: #e1e4ea;
  --N50: #e1e4ea;
  --N60: #abb4bc;
  --N70: #abb4bc;
  --N80: #72808e;
  --N90: #72808e;
  --N100: #394e60;
  --N200: #394e60;
  --N300: #001a33;
  --NG10: #f4f5f7;
  --NG20: #e8eaef;
  --NG30: #e1e4ea;
  --NG40: #abb4bc;
  --NG50: #72808e;
  --NG60: #394e60;
  --NG70: #394e60;
  --NG80: #394e60;
  --NG90: #081020;
  --NG100: #050a19;
  --B10: #f4dada;
  --B20: #c8deff;
  --B30: #abcdff;
  --B40: #72abff;
  --B50: #3989ff;
  --B60: #a73a3a;
  --B70: #0068ff;
  --B80: #004bb9;
  --B90: #004bb9;
  --B100: #004bb9;
  --STB10: #f0f4fa;
  --STB20: #e2eaf4;
  --STB30: #cddaea;
  --STB40: #b3c6db;
  --STB50: #8da6c4;
  --STB60: #58789d;
  --STB70: #415a77;
  --STB80: #31465e;
  --STB90: #25374b;
  --STB100: #192838;
  --SKB10: #ecf8fe;
  --SKB20: #d8f1fd;
  --SKB30: #bbe8fb;
  --SKB40: #94ddf9;
  --SKB50: #5fcbf2;
  --SKB60: #12aee2;
  --SKB70: #0e83aa;
  --SKB80: #0b6684;
  --SKB90: #085068;
  --SKB100: #063a4b;
  --R10: #fbebe9;
  --R20: #fbebe9;
  --R30: #f3bcbb;
  --R40: #f5d8d7;
  --R50: #e2615d;
  --R60: #db342e;
  --R70: #db342e;
  --R80: #db342e;
  --R90: #db342e;
  --R100: #db342e;
  --O10: #fdf3e9;
  --O20: #fbd6bb;
  --O30: #fbd6bb;
  --O40: #f9ba8c;
  --O50: #f79e5d;
  --O60: #f5832f;
  --O70: #f5832f;
  --O80: #f5832f;
  --O90: #f5832f;
  --O100: #f5832f;
  --Y10: #fff9e5;
  --Y20: #ffefab;
  --Y30: #ffe472;
  --Y40: #ffda39;
  --Y50: #ffd000;
  --Y60: #ffd20a;
  --Y70: #f5c801;
  --Y80: #f5c801;
  --Y90: #f5c801;
  --Y100: #f5c801;
  --GR10: #e7f5ef;
  --GR20: #b2e2cb;
  --GR30: #7ecea7;
  --GR40: #49bb82;
  --GR50: #15a85f;
  --GR60: #15a85f;
  --GR70: #15a85f;
  --GR80: #15a85f;
  --GR90: #15a85f;
  --GR100: #15a85f;
  --TL10: #e5f7f9;
  --TL20: #abe8e9;
  --TL30: #72d8db;
  --TL40: #39cace;
  --TL50: #00bac0;
  --TL60: #00bac0;
  --TL70: #00bac0;
  --TL80: #00bac0;
  --TL90: #00bac0;
  --TL100: #00bac0;
  --PU10: #f1effb;
  --PU20: #d1ccf2;
  --PU30: #b3a8e9;
  --PU40: #9485e0;
  --PU50: #7562d8;
  --PU60: #7562d8;
  --PU70: #7562d8;
  --PU80: #7562d8;
  --PU90: #7562d8;
  --PU100: #7562d8;
  --PI10: #fdf3ff;
  --PI20: #f7d8ff;
  --PI30: #f2bdff;
  --PI40: #efa1ff;
  --PI50: #ea87ff;
  --PI60: #ea87ff;
  --PI70: #ea87ff;
  --PI80: #ea87ff;
  --PI90: #ea87ff;
  --PI100: #ea87ff;
  --WA0: hsla(0, 0%, 100%, 0);
  --WA10: hsla(0, 0%, 100%, 0.1);
  --WA20: hsla(0, 0%, 100%, 0.2);
  --WA30: hsla(0, 0%, 100%, 0.3);
  --WA40: hsla(0, 0%, 100%, 0.4);
  --WA50: hsla(0, 0%, 100%, 0.5);
  --WA60: hsla(0, 0%, 100%, 0.6);
  --WA70: hsla(0, 0%, 100%, 0.7);
  --WA80: hsla(0, 0%, 100%, 0.8);
  --WA90: hsla(0, 0%, 100%, 0.9);
  --WA100: #fff;
  --BA0: transparent;
  --BA10: rgba(0, 0, 0, 0.1);
  --BA20: rgba(0, 0, 0, 0.2);
  --BA30: rgba(0, 0, 0, 0.3);
  --BA40: rgba(0, 0, 0, 0.4);
  --BA50: rgba(0, 0, 0, 0.5);
  --BA60: rgba(0, 0, 0, 0.6);
  --BA70: rgba(0, 0, 0, 0.7);
  --BA80: rgba(0, 0, 0, 0.8);
  --BA90: rgba(0, 0, 0, 0.9);
  --BA100: #000;
  --V_Gradient_B60B50: linear-gradient(360deg, #006af5, #52a0ff);
  --V_Gradient_B60B40: linear-gradient(360deg, #006af5, #8fc1ff);
  --V_Gradient_B60SKB50: linear-gradient(360deg, #006af5, #5fcbf2);
  --V_Gradient_SKB60GR50: linear-gradient(360deg, #12aee2, #66d68f);
  --V_Gradient_SKB60GR50_2: linear-gradient(360deg, #34b764, #99e5b5);
  --V_Gradient_GR60Y50: linear-gradient(360deg, #34b764, #fdd949);
  --V_Gradient_OR60Y60: linear-gradient(360deg, #de640d, #e8ba02);
  --V_Gradient_R60O50: linear-gradient(360deg, #dc1f18, #f8954f);
  --V_Gradient_PU60B50: linear-gradient(360deg, #6a40bf, #52a0ff);
  --V_Gradient_PU70PU40: linear-gradient(360deg, #513091, #b69de7);
  --V_Gradient_PU60PK30: linear-gradient(
    360deg,
    #6a40bf,
    #5e47d1 0.01%,
    #f8bfec
  );
  --V_Gradient_PK60PK30: linear-gradient(360deg, #df16b7, #f8bfec);
  --V_Gradient_R50PK40: linear-gradient(360deg, #f1645f, #f49ae2);
  --V_Gradient_BLK_A0A50: linear-gradient(
    360deg,
    transparent,
    rgba(0, 0, 0, 0.5)
  );
  --V_Gradient_BLK_A50A0: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  --H_Gradient_B60B50: linear-gradient(90deg, #006af5, #52a0ff);
  --H_Gradient_B60B40: linear-gradient(90deg, #006af5, #8fc1ff);
  --H_Gradient_B60SKB50: linear-gradient(90deg, #006af5, #5fcbf2);
  --H_Gradient_SKB60GR50: linear-gradient(90deg, #12aee2, #66d68f);
  --H_Gradient_SKB60GR50_2: linear-gradient(90deg, #34b764, #99e5b5);
  --H_Gradient_GR60Y50: linear-gradient(90deg, #34b764, #fdd949);
  --H_Gradient_OR60Y60: linear-gradient(90deg, #de640d, #e8ba02);
  --H_Gradient_R60O50: linear-gradient(90deg, #dc1f18, #f8954f);
  --H_Gradient_PU60B50: linear-gradient(90deg, #6a40bf, #52a0ff);
  --H_Gradient_PU70PU40: linear-gradient(90deg, #513091, #b69de7);
  --H_Gradient_PU60PK30: linear-gradient(
    90deg,
    #6a40bf,
    #5e47d1 0.01%,
    #f8bfec
  );
  --H_Gradient_PK60PK30: linear-gradient(90deg, #df16b7, #f8bfec);
  --H_Gradient_R50PK40: linear-gradient(90deg, #f1645f, #f49ae2);
  --H_Gradient_BLK_A0A50: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.5)
  );
  --H_Gradient_BLK_A50A0: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  --D_Gradient_B60B50: linear-gradient(45deg, #006af5, #52a0ff);
  --D_Gradient_B60B40: linear-gradient(45deg, #006af5, #8fc1ff);
  --D_Gradient_B60SKB50: linear-gradient(45deg, #006af5, #5fcbf2);
  --D_Gradient_SKB60GR50: linear-gradient(45deg, #12aee2, #66d68f);
  --D_Gradient_SKB60GR50_2: linear-gradient(45deg, #34b764, #99e5b5);
  --D_Gradient_GR60Y50: linear-gradient(45deg, #34b764, #fdd949);
  --D_Gradient_OR60Y60: linear-gradient(45deg, #de640d, #e8ba02);
  --D_Gradient_R60O50: linear-gradient(45deg, #dc1f18, #f8954f);
  --D_Gradient_PU60B50: linear-gradient(45deg, #6a40bf, #52a0ff);
  --D_Gradient_PU70PU40: linear-gradient(45deg, #513091, #b69de7);
  --D_Gradient_PU60PK30: linear-gradient(
    45deg,
    #6a40bf,
    #5e47d1 0.01%,
    #f8bfec
  );
  --D_Gradient_PK60PK30: linear-gradient(45deg, #df16b7, #f8bfec);
  --D_Gradient_R50PK40: linear-gradient(45deg, #f1645f, #f49ae2);
  --D_Gradient_BLK_A0A50: linear-gradient(
    45deg,
    transparent,
    rgba(0, 0, 0, 0.5)
  );
  --D_Gradient_BLK_A50A0: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  --HL_photo-bg: #545454;
  --HL_input: rgba(0, 133, 255, 0.25);
  --HL_sidebar: #a73a3a;
  --HL_sidebar-active: #730e0e;
  --primary-text: #001a33;
  --secondary-text: #72808e;
  --link: #0068ff;
  --error: #db342e;
  --success: #15a85f;
  --disable-text: #abb4bc;
  --primary-icon: #394e60;
  --secondary-icon: #abb4bc;
  --icon-hover-bg: #eeeff2;
  --disable-icon: #abb4bc;
  --input-white: #fff;
  --input-placeholder-wh: #72808e;
  --input-icon-wh: #394e60;
  --input-grey: #eeeff2;
  --input-placeholder-gr: #394e60;
  --input-icon-gr: #394e60;
  --self-bubble-chat: #e5efff;
  --self-bubble-chat-shadow: #c8deff;
  --other-bubble-chat: #fff;
  --self-quote: #c8deff;
  --other-quote: #eeeff2;
  --text-quote: #72808e;
  --selected-bubble-chat: #c8deff;
  --bg-default-csc: #f4f5f7;
  --bg-divide-bb-blue: #abb4bc;
  --grey-dot: #abb4bc;
  --red-dot: #db342e;
  --border: #e5e7eb;
  --lst-item: #fff;
  --lst-item-hover: #eeeff2;
  --lst-item-select: #e5efff;
  --item-wa-hover: #eeeff2;
  --item-wa-select: #e5efff;
  --bg-default: #fff;
  --title-bar: #eeeff2;
  --tab-txt: #72808e;
  --tip-bg: #004bb9;
  --href: #004bb9;
}
* {
  flex-wrap: nowrap !important;
}

body {
  margin: 0;
  font-family: SegoeuiPc, Segoe UI, San Francisco, Helvetica Neue, Helvetica,
    Lucida Grande, Roboto, Ubuntu, Tahoma, Microsoft Sans Serif, Arial,
    sans-serif;
  color: var(--primary-text);
  line-height: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-shadow: 0 0 0 var(--BA30);
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}

#wrapper {
  position: relative;
}

#wrapper .box-choose-chatbox {
  height: 72px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 16px;
  cursor: pointer;
  position: relative;
}

#wrapper .box-choose-chatbox:hover {
  background-color: var(--item-wa-hover);
}
#wrapper .box1 {
  flex: 1;
  height: 100%;
}

#wrapper .box-choose-chatbox .image {
  width: 58px;
  align-self: center;
}
#wrapper .box-choose-chatbox .box2 {
  width: 58px;
}

#wrapper .box-choose-chatbox .box2 .number-unread {
  display: flex;
  justify-content: flex-end;
}
#wrapper .box-choose-chatbox .box2 .number-unread div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper .box-choose-chatbox .box2 .number-unread div div {
  padding: 0px 6px;
  height: 16px;
  font-size: 9px;
  background-color: var(--B60);
  color: var(--WA100);
  border-radius: 8px;
  font-weight: 900;
}

#wrapper .choose-chatbox {
  max-width: calc(100% - 58px);
  align-self: center;
}

#wrapper .choose-chatbox .title,
#wrapper .choose-chatbox .content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#wrapper .choose-chatbox .title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--primary-text);
  margin-bottom: 5px;
}

#wrapper .choose-chatbox .content {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: normal;
  line-height: 18px;
  color: var(--secondary-text);
}

#wrapper .box-choose-chatbox:hover .box2 {
  visibility: hidden;
}

#wrapper .box-choose-chatbox:hover .box3 {
  visibility: visible;
}

#wrapper .box-choose-chatbox .box3 {
  position: absolute;
  right: 0px;
  padding-right: 10px;
  color: var(--secondary-icon);
  visibility: hidden;
}

#wrapper .box-choose-chatbox .box3 .anticon svg {
  width: 18px;
  height: 18px;
}

#wrapper .box-choose-chatbox .box3 .icon:hover {
  color: var(--B60);
}

#wrapper .box2 .time-before {
  line-height: 21px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: normal;
  overflow: hidden;
  white-space: nowrap;
  color: var(--N80);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
}

#wrapper .box-nav-3 {
  flex: 1;
  background-color: var(--WA100);
  max-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#wrapper .box-nav-3 .box-ghim {
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  cursor: pointer;
}

#wrapper .box-nav-3 .box-ghim .box-1 .image {
  width: 24px;
  height: 48px;
  margin-left: 16px;
  margin-right: 12px;
  display: flex;
  align-items: center;
}

#wrapper .box-nav-3 .box-ghim .box-1 .image .anticon svg {
  width: 24px;
  height: 24px;
  color: var(--B60);
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 {
  overflow: hidden;
  align-self: center;
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 .title {
  line-height: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: normal;
  color: var(--primary-text);
}

#wrapper .box-nav-3 .box-ghim .box-1 .box-1-1 .content {
  line-height: normal;
  font-weight: 400;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#wrapper .box-nav-3 .box-ghim .box-2 {
  margin-right: 16px;
}

#wrapper .box-nav-3 .box-ghim .box-2 .ghim {
  margin-left: 12px;
  color: var(--B60);
  height: 24px;
  width: 112px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  border: 1px solid var(--B60);
  border-radius: 6px;
  cursor: pointer;
}

#wrapper .box-nav-3 .box-ghim .box-2 .ghim:hover {
  background-color: var(--B10);
}

#wrapper .box-nav-3 .box-ghim-2 {
  display: none;
}

#wrapper .box-nav-3 .box-ghim-2 .box-ghim:hover {
  background-color: var(--lst-item-hover);
}

#wrapper .box-nav-3 .box-ghim-2 .list-ghim {
  justify-content: space-between;
  align-items: center;
  background-color: var(--NG20);
  box-shadow: 0 1px var(--border);
  min-height: 24px;
}

#wrapper .box-nav-3 .box-ghim-2 .list-ghim .list {
  line-height: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: normal;
  padding-left: 12px;
  color: var(--NG60);
}
#wrapper .box-nav-3 .collapse {
  color: var(--primary-text) !important;
  line-height: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: normal;
  padding: 0px 8px;
  cursor: pointer;
}

#wrapper .box-nav-3 .box-chat {
  height: 100%;
  overflow-y: scroll;
  background-color: var(--N50);
  display: flex;
  flex-direction: column-reverse;
}

.box-nav-3 .box-chat .share-response {
  display: none;
  align-items: center;
  height: 24px;
  border-radius: 6px;
  background-color: var(--WA50);
  margin-right: 20px;
  margin-bottom: 8px;
}

.box-nav-3 .box-chat .share-response .anticon svg:hover {
  color: var(--B60);
  cursor: pointer;
}

.box-nav-3 .box-chat .share-response .anticon svg {
  height: 35px;
  width: 33px;
  padding: 4px 7px 2px 10px;
}

#wrapper .box-nav-3 .box-chat .other-people {
  max-width: calc(100% - 116px);
  display: flex;
}

#wrapper .box-nav-3 .box-chat .other-people .content-chat {
  background-color: var(--WA100);
}

#wrapper .box-nav-3 .box-chat .other-people .img-chat {
  padding-left: 16px;
  padding-right: 7px;
}

#wrapper .box-nav-3 .box-chat .box-me {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#wrapper .box-nav-3 .box-chat .me {
  max-width: calc(100% - 116px);
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

#wrapper .box-nav-3 .box-chat .me .box-content-all-chat {
}

#wrapper .box-nav-3 .box-chat .content-chat {
  position: relative;
  display: block;
  padding: 12px;
  border-radius: 8px;
  background: var(--R40);
  color: var(--primary-text);
  line-height: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: normal;
  min-width: 32px;
  margin-bottom: 8px;
  white-space: pre-wrap;
}

#wrapper .box-nav-3 .box-chat .box-me .me .img-chat {
  margin-left: 7px;
  margin-right: 16px;
}

#wrapper .box-nav-3 .box-chat .box-me .me .content-chat {
}

#wrapper .box-nav-3 .nav-input-chat .nav-input {
  padding: 0 0 0 8px;
  height: 46px;
  background: var(--WA100);
  border-top: 1px solid var(--border);
  align-items: center;
}

#wrapper .box-nav-3 .nav-input-chat .nav-input > div {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#wrapper .box-nav-3 .nav-chat {
  border-top: 1px solid var(--border);
  padding-right: 16px;
}

#wrapper .box-nav-3 .focus-input {
  border-top: 1px solid var(--B60);
}

#wrapper .box-nav-3 .nav-chat .icon-input div:hover,
#wrapper .box-nav-3 .nav-input-chat .nav-input div:hover {
  background-color: var(--item-wa-hover);
}

#wrapper .box-nav-3 .nav-chat .icon-input div .anticon svg,
#wrapper .box-nav-3 .nav-input-chat .nav-input div .anticon svg {
  width: 24px;
  height: 24px;
  color: var(--primary-icon);
}

#wrapper .box-nav-3 .nav-chat .icon-input {
  align-items: flex-end;
}

#wrapper .box-nav-3 .nav-chat .icon-input div {
  width: 40px;
  height: 40px;
  margin: 0px 4px 7px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#wrapper .box-nav-3 .nav-chat .icon-input .button-sent {
  color: var(--B60);
  font-weight: 600;
  font-size: 14px;
  line-height: 38px;
}

#wrapper .box-nav-3 .nav-chat .input-chat {
  width: 100%;
  padding: 12px 10px 18px 16px;
}

#wrapper .box-nav-3 .nav-chat .input-chat .ant-input {
  padding: 5px 0px 0px 0px;
  border: none;
  font-size: 15px;
}

#wrapper .box-nav-3 .nav-chat .input-chat .ant-input:focus {
  border: none;
  box-shadow: none;
}

#wrapper .box-nav-4 {
  display: flex;
  flex-direction: column;
  width: 344px;
  border-left: 1px solid var(--border);
  height: 100vh;
}

#wrapper .box-nav-4 .title-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 68px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: normal;
  padding: 0 15px;
  color: var(--primary-text);
  border-bottom: 1px solid var(--border);
}
#wrapper .box-nav-4 .box-wrapper {
  overflow-y: scroll;
  width: 100%;
}

#wrapper .box-nav-4 .box-wrapper .box-information {
  padding: 12px 16px;
}

#wrapper .box-nav-4 .box-wrapper .box-information .image {
  margin: 12px 0;
  justify-content: center;
  display: flex;
  cursor: pointer;
}

#wrapper .box-nav-4 .box-wrapper .box-information .header-info-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper .box-nav-4 .box-wrapper .box-information .header-info-name .header {
  font-weight: 600;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}

#wrapper .box-nav-4 .box-wrapper .box-information .header-info-name .icon {
  height: 24px;
  width: 24px;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: normal;
  line-height: 22px;
  color: var(--primary-text);
  background-color: var(--N30);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 13px;
  border-radius: 50%;
}

#wrapper
  .box-nav-4
  .box-wrapper
  .box-information
  .header-info-name
  .icon
  .anticon
  svg {
  width: 16px;
  height: 16px;
}

#wrapper .box-nav-4 .box-wrapper .box-information .box-icon-content {
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

#wrapper .box-nav-4 .box-wrapper .box-information .icon-content {
  height: 78px;
  width: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper .box-nav-4 .box-wrapper .box-information .icon-content .box-icon {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper .box-nav-4 .box-wrapper .box-information .icon-content .icon {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
  background-color: var(--N30);
  border-radius: 50%;
}

#wrapper
  .box-nav-4
  .box-wrapper
  .box-information
  .icon-content
  .icon
  .anticon
  svg {
  width: 20px;
  height: 20px;
}

#wrapper .box-nav-4 .box-wrapper .box-information .icon-content .content {
  text-align: center;
  padding: 4px 8px;
  font-size: 12px;
  color: var(--secondary-text);
}

#wrapper .box-nav-4 .box-wrapper .test {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  cursor: pointer;
  border-top: 8px solid var(--N20);
}

#wrapper .hiddenRightNav {
  position: absolute;
  right: -343px;
  display: none;
}

.chooseFile,
.chooseFolder {
  height: 32px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: normal;
  color: var(--primary-text);
  position: relative;
  margin: 0 -8px;
}
.chooseFile:hover,
.chooseFolder:hover {
  background-color: var(--lst-item-hover);
}

.chooseFile .anticon svg,
.chooseFolder .anticon svg {
  width: 18px;
  height: 18px;
}

#wrapper .box-nav-3 .nav-input-chat .nav-input .ant-popover-open {
  background-color: var(--B10);
}

#wrapper .box-nav-3 .nav-input-chat .nav-input .ant-popover-open .anticon svg {
  color: var(--B60);
}

#wrapper .date {
  margin-right: 5px;
  line-height: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: normal;
  color: var(--BA50);
  text-align: left;
  user-select: none;
  margin-bottom: 5px;
  margin-top: 5px;
}
#wrapper .box-date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 60px 10px;
}

#wrapper .line {
  border-top: 1px solid var(--BA20);
  width: 100%;
}

#wrapper .overdate {
  background: var(--BA20);
  border-radius: 10px;
  padding: 2px 10px 3px;
  z-index: 2;
  font-weight: 400;
  font-size: 13px;
  color: var(--WA100);
  width: 280px;
  text-align: center;
}

#wrapper .box-message {
  padding: 0px 5px 12px;
  justify-content: center;
  align-items: center;
}

#wrapper .box-message .event-message {
  background-color: var(--WA50);
  border-radius: 16px;
  padding: 7px 14px;
  align-items: center;
}

#wrapper .box-message .event-message .image-message {
  cursor: pointer;
}

#wrapper .box-message .event-message .name-message {
  margin-left: 5px;
  cursor: pointer;
  font-weight: 600;
  color: var(--NG60);
  line-height: 1.5em;
  font-size: 13px;
}

#wrapper .box-message .event-message .content-message {
  margin-left: 5px;
  font-weight: 400px;
  font-size: 13px;
  line-height: 1.5em;
  color: var(--NG60);
}

.ant-popover-inner-content {
  max-width: 350px;
}

.box-choose-icon {
  display: flex;
  gap: 4px;
  flex-wrap: wrap !important;
}
.box-choose-icon .choose-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.box-choose-icon .choose-icon:hover {
  background-color: var(--N40);
}

.box-choose-icon .choose-icon .anticon svg {
  width: 26px;
  height: 26px;
}

.box-chat .box-file {
  display: block;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--WA100);
  margin-bottom: 4px;
  width: 390px;
  cursor: pointer;
  overflow: hidden;
}

.box-chat .box-file .box-content-file {
}

.box-chat .box-file .box-content-file .img-file {
}

.box-chat .box-file .box-content-file .box-content-file-title {
  width: 100%;
}

.box-chat .box-file .box-content-file-title .content-file-title {
  margin-bottom: 5px;
  overflow: hidden;
  line-height: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: normal;
  display: flex;
}

.box-chat .box-file .box-content-file .box-content-file-title .box-information {
  justify-content: space-between;
  align-items: center;
}

.box-chat
  .box-file
  .box-content-file
  .box-content-file-title
  .box-information
  .file-size {
  display: flex;
  align-items: center;
  line-height: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: normal;
  color: var(--secondary-text);
}

.box-chat
  .box-file
  .box-content-file
  .box-content-file-title
  .box-information
  .icon-download {
  justify-content: center;
  display: flex;
  font-size: 20px;
  width: 20px;
  height: 20px;
  background: var(--WA100);
  border: 1px solid var(--border);
  border-radius: 6px;
  align-items: center;
  color: var(--secondary-text);
  padding: 12px;
}

.box-chat
  .box-file
  .box-content-file
  .box-content-file-title
  .box-information
  .icon-download:hover {
  background-color: var(--N50);
}

@media screen and (max-width: 992px) {
  #wrapper .box-nav-3 .box-nav-chat .button-phone {
    display: flex !important;
  }
  #wrapper .box-nav-4 {
    position: absolute !important;
    right: 0px !important;
    background-color: #fff !important;
  }
  #wrapper .search {
    width: calc(100% - 80px) !important;
  }
  #wrapper .box-nav-2 {
    width: 100% !important;
  }
  #wrapper .hiddenBoxNav2 {
    width: 0% !important;
  }
}
