.wraper-oders-info {
  width: 330px;
  border-radius: 5px;
  .title {
    color: var(--B60);
    cursor: pointer;
    padding: 10px;
    font-weight: 600;
  }
  .see-more {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .box-content {
    .box-1 {
    }
    .box-2 {
      padding: 5px 5px 0px 5px;
    }
  }
  .link-target {
    font-weight: 600;
    font-style: italic;
    color: blueviolet;
  }
}

.wraper-oders-info-two {
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 12px;
  a {
    color: var(--primary-text);
  }
  &:hover {
    background-color: var(--NG10);
  }
  .title {
    color: var(--B60);
    cursor: pointer;
    padding-right: 10px;
    font-weight: 600;
  }
  .box-content {
    .box-1 {
      padding: 10px;
    }
    .box-2 {
    }
  }
  .link-target {
    font-weight: 600;
    font-style: italic;
    color: blueviolet;
  }
}
